body{
    font-family: 'Roboto', sans-serif;
}
h1{
    
    font-family: 'Source Code Pro', monospace;

}
h2{
    
    font-family: 'Source Code Pro', monospace;

}
p{
    font-size: 22px;
}
ul{
    list-style-type: none;
}

 a:link {
    color: blue;
}


a:visited {
    color: blue;
}


a:hover {
    color: rgb(5, 6, 104);
}


a:active {
    color: rgb(255, 0, 0);
} 